.instagram-header{
    color: black; 
    margin-left: 5px;
}

.ri-instagram-line{
    color: black;
}


.nav-tabs {
    display: flex;
    justify-content: center;
}

.btn-close {
    margin-right: auto;
}

.form-control {
    color: lightgray;
}

.modal-icons {
    display: flex;  
}

.modal-icons-button{
    margin-right:5px;
    border-style: none;
    background-color: #F0F0F6;
}

.grid-pics {
    display:flex;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
    justify-items: center;

=======
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.vegan-food {
    height: 90%;
>>>>>>> 06c18dafd6d69059e8262d4145d718edf31804e2
}

.col {
    padding: 5px;
}

<<<<<<< HEAD
img {
    object-fit: cover;
    width: 100%;
    height: 100%; 
}
=======
>>>>>>> 06c18dafd6d69059e8262d4145d718edf31804e2


.container-post{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.card-header{
    display: flex;
    flex-direction: row;
    margin-bottom: -5px;
    background-color: white;
}

.header-pharagraph {
    margin-left: auto;
}

.card-text-likes {
    margin-top: -10px;
}

.card-text-info {
    margin-top: -10px;
    margin-bottom: 2px;
}

.container-post-one {
   margin-top: 15px;

}

.container-post-two {
    margin-top: 20px;
}

.container-post-three {
    margin-top: 20px;
}

.container-post-four {
    margin-top: 20px;
    margin-bottom: 50px;
}