.instagram-header{
    color: black; 
}

.ri-instagram-line{
    color: black;
}


.nav-tabs {
    display: flex;
    justify-content: center;
}

.grid-pics {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.first-pics-row {
    margin-right: 15px,
}

img {
    width:100%;
    height:auto;
    margin-bottom: 15px;
}


.container-post{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.card-header{
    display: flex;
    flex-direction: row;
    margin-bottom: -5px;
    background-color: white;
}

.header-pharagraph {
    margin-left: auto;
}

.card-text-likes {
    margin-top: -10px;
}

.card-text-info {
    margin-top: -10px;
    margin-bottom: 2px;
}

.container-post-one {
   margin-top: 15px;

}

.container-post-two {
    margin-top: 20px;
}

.container-post-three {
    margin-top: 20px;
}

.container-post-four {
    margin-top: 20px;
    margin-bottom: 50px;
}